<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <GameFolder>SET YOUR GAME PATH HERE</GameFolder>
        <MelonLoader>$(GameFolder)\MelonLoader</MelonLoader>
		<MelonLoaderManaged>$(MelonLoader)\Managed</MelonLoaderManaged>
    </PropertyGroup>
</Project>